button {
  margin: 5%;
  padding: 0;
  height: 100px;
  width: 100px;
  border: 2px double blue;
  border-radius: 50%;
  box-sizing: content-box;
}

.wrap {
border: 10px double black;
border-radius: 10px;
}
