button {
  margin: 3%;
  padding: 0;
  height: 100px;
  width: 100px;
  border: 2px double blue;
  border-radius: 50%;
  box-sizing: content-box;
}

.wrap {
  border: 10px solid black;
  background: linear-gradient(rgba(18, 94, 124, 0.658), lightgray, rgba(18, 94, 124, 0.658))
}

#crystalButtonRow,
#crystalHeader {
  margin-right: 2%;
  margin-left: 2%;
  padding: 2%;
}

#randomNumber,
#crystalTotal {
  height: 75px;
  width: 75px;
  font-size: 75px;
}